 
 *{
    margin: 0;
    padding: 0;
}
.first-nav{
  
    justify-content: space-between;
  }
.first-nav .name{
    color: lightskyblue;
    font-family:'Ubuntu', sans-serif;
    font-size: 10px;
 }
 .img-logo {
    padding: 5px;
    margin: 0px 3px;
    transition: all 0.4s ease-in-out;
    font-size: 10px;
   
 }
 .img-logo i{
    width: 10px;
   
    color: white ;
  }
 
 .mainhome {

   margin-top: -150px;
   
}

.contect .cnt-box{
    flex-direction: column;
}