* {
    margin: 0;
    padding: 0;
 }
 
 .first-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #0e1338;
   padding: 30px 20px; 
   
 }
 
 .first-nav .name{
    color: lightskyblue;
    font-family:'Ubuntu', sans-serif;
    font-size: 25px;
 }
 .social-icon{
    display: flex;
    justify-content: space-evenly;
     
 }
 .img-logo {
    padding: 5px;
    margin: 0px 3px;
    transition: all 0.4s ease-in-out;
    font-size: 20px;
 }
 
 
 
 .img-logo:hover{
    
    background-color: #0e174f;
    filter: blur(0px);
    border-radius: 20px;
    transform: scale(1.2);
 }
 .img-logo i{
   width: 20px;
  
   color: white ;
 }
 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:lightblue; 
    z-index: +1;
    top: 0;
    position: sticky;
   
 
 }
  .navbar .bar{
    margin-right: 20px;
    cursor: pointer;
    display: none;
    
  }
 
 
 
 .navbar .list {
    margin: 10px;
   
 
 }
 
 .navbar .list1 i {
   font-size: 25px;
    margin-left: 30px;
    cursor: pointer;
    color: #0e1338

 }
 
 
 

.contect{
    display: flex;
    flex-direction: column;
    padding-top:10px ;
     background-color: lightblue;
     font-family: 'Ubuntu', sans-serif;
     align-items: center;
 }
 
 .contect h1{
    color: #0e1338;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
 }
 
 .contect .cnt-box{
   width: 40%;
    display: flex;
    flex-direction: column;
  
   align-items: center;
   background-color: #0e1338ac;
   border-radius: 30px;
   box-shadow: 4px 4px 20px #0e1338 , inset 4px 4px 20px #0e1338;
   margin :20px 0px ;
 }
 .contect .cnt-box .cnt-box-1{
  padding: 20px;
 }
 
 .contect .cnt-box .cnt-box-1 form{
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
  
    align-items: center;
    
 }
 
 .contect .cnt-box .cnt-box-1 form input{
    padding: 4px 10px;
    font-size: 20px;
    margin: 10px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #0e1338;
    
 }
 .contect .cnt-box .cnt-box-1 form textarea{
    font-size: 20px;
    width: 100%;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #0e1338;
 }
 .contect .cnt-box .cnt-box-1 form button{
    font-size: 20px;
    cursor: pointer;
    background-color: lightskyblue;
    color: #0e1338;
     width: 50%;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #0e1338;
    transition: all 0.3s ease-in-out;
 }
 .contect .cnt-box .cnt-box-1 form button:hover{
    background-color: #0e1338;
    color: lightskyblue;
    transform: scale(1.1);
 }
 
 .contect .cnt-box .cnt-box-2{
   
    
    
 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-1{
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: #0e1338;
    align-items: flex-start;
   
 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-1 h1{
    font-size: 20px;

 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-1 h1 a{
   text-decoration: none;
   color: #0e1338;
 }
 
 .contect .cnt-box .cnt-box-2 .cnt-box-2-1 a:hover{
    color:skyblue;
 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 31px;
    margin-top: 50px;
 
 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-2 div{
    display: flex;
   
 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-2 div a {
    margin: 20px;
 }
 
 .contect .cnt-box .cnt-box-2 .cnt-box-2-2 div a i {
    font-size: 30px;
    color: #0e1338;
    transition: all 0.3s ease-in;
 }
 .contect .cnt-box .cnt-box-2 .cnt-box-2-2 div a i:hover {
    transform: scale(1.1);
 }