

 
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    top: 0;
    position: sticky;
 
 }
 .navbar .bar{
    display: block;
    margin-right: 20px;
    cursor: pointer;
    
  }
 .navbar .list {
  
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 40px;
 
 }
.navbar .list a{
    margin: 0 10px;
}
.mainpage{
    flex-direction: column;
    align-items: center;
}
.mypic{
    margin: 5px;
    padding: 5px;
}
.mainhome::before{
    height: 600px;
     width: 100%;
}
.mainpage .content h3 {
    font-size: 20px;
    
 }
 .mainpage .content h1 {
    font-size: 35px;
    
 }
 .mainpage .content {

    padding: 0px;
    
 }
 .mypic img{
    width: 180px;
 }
 .aboutdisplay {
   flex-direction: column;
   align-items: center;
 }
 .aboutdisplay .mypic2 img{
    width: 200px;
    
 }