.navbar{
    flex-direction: column;
    width:100%;
}
.navbar .list{
    margin: 15px 0px;
    font-size: 15px;
}
.navbar .list a{
    margin: 0 10px;
}
.container{
    flex-direction: column;
    text-align: center;
    justify-content: center;
}