* {
   margin: 0;
   padding: 0;
}

.first-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1338;
  padding: 30px 20px; 
  
}

.first-nav .name{
   color: lightskyblue;
   font-family:'Ubuntu', sans-serif;
   font-size: 25px;
}
.social-icon{
   display: flex;
   justify-content: space-evenly;
    
}
.img-logo {
   padding: 5px;
   margin: 0px 3px;
   transition: all 0.4s ease-in-out;
   font-size: 20px;
  
}



.img-logo:hover{
   
   background-color: #0e174f;
   filter: blur(0px);
   border-radius: 20px;
   transform: scale(1.2);
}
.img-logo i{
  width: 20px;
 
  color: white ;
}
.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #02072662; 
   z-index: +1;
   top: 0;
   position: sticky;

}
 .navbar .bar{
   margin-right: 20px;
   cursor: pointer;
   display: none;
   
 }



.navbar .list {
   display: flex;
  
   list-style: none;
   margin: 15px 40px;
  

}

.navbar .list a {
   margin: 0 30px;
   text-decoration: none;
   color: white;
   font-family: 'Ubuntu', sans-serif;
   padding: 5px 10px;
   border-radius: 22px;
   transition: all 0.5s ease;
   
}
.navbar .list  #l-5 a{
   background-color: #0e1338;
   border: 2px solid lightskyblue;
   color: lightskyblue;
   
}


.navbar .list a:hover {

    color: lightskyblue;
   background-color:#0e174f;
   
}

.mainhome {
   display: flex;
   justify-content: space-evenly;
   background-color: #0e1338;
   margin-top: -100px;
   font-family:'Ubuntu', sans-serif;
}



.image a #linkdin {
   width: 55px;
}



.mainpage {
   margin-top: 100px;
   display: flex;
   align-items: center;

   width: 100%;
   height: 100%;
   justify-content: space-around;

}

.mypic {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 40px;
   padding: 30px;
   border-radius: 22px;
   
}

.mypic img {
   width: 250px;
   height: 250px;
   border-radius: 50%;
   background-color: white;
   transition: all 0.6s ease;
   box-shadow: 2px 2px 10px black , -2px -2px 10px black;
 
}
 .mypic button{
   margin-top:20px;
   padding: 8px 24px ;
   border-radius: 10px;
   font-size: 25px;
   color:lightskyblue;
   background-color: #0e1338;
   border: 2px solid lightskyblue;
   cursor: pointer;
   transition: all 0.4s ease-in;
}
.mypic button:hover{
   transform: scale(1.1);
}
.mypic h1{
  margin-top: 30px;
   font-size: 40px;
   color: lightskyblue;
} 


.mypic img:hover {
   cursor: pointer;

}

.container {
   margin-top: 0px;
   
   padding: 20px;
   background-color: #0e1338;
   color: white;
   text-align: center;
   font-family: 'Philosopher', sans-serif;
}
.container #about{
   margin-top: 50px;
   color: lightskyblue;
   margin-bottom: 20px;
   font-size: 40px;
   text-align: left;
   margin-left: 70px;
}

.aboutme{
   font-family: 'Ubuntu', sans-serif;
  display: flex;
  margin: 60px 20px;
  z-index: -1;
}

.aboutme .box1{
  width: 300px;
  height:  350px;
  background-color: white;
  border-radius: 5px;
  margin-left: 150px;
  margin-right: 80px;
  cursor: pointer;
}
.aboutme .box1 img{
   width: 300px;
  height: 350px;
  border-radius: 5px;

}

.aboutme .box2{
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 0px 10px;
}

.aboutme .box2 h1, h2 {
   margin: 10px;
   font-size: 35px;
   font-family: 'Ubuntu', sans-serif;
}
.aboutme .box2 p{
   margin: 40px 10px;
}


.aboutme p{
   font-family: 'Kanit', sans-serif;
}

.aboutme .box2 b{
   color: lightskyblue;
}

.container .buttons{
   margin: 20px 20px;
   width: 20%;
   padding: 10px 10px;
   border-radius: 10px;
   background-color: #0e1338;
   border: 2px solid lightskyblue;
   color: lightskyblue;
   transition: all 0.5s ease-in-out; 
   cursor: pointer;
   font-family: 'Kanit', sans-serif;
   font-size: 20px;
   text-align: center;
}
.container .buttons i{
   margin-right:10px;
}

.container .buttons:hover{
   
   transform: scale(1.1);
 
}
.more-about{
   margin: 100px 20px 20px 20px ;
   display: none;
   font-family: 'Ubuntu', sans-serif;
}
.more-about .home-about{
   display: flex;
    border: 2px solid lightskyblue;
    padding:  20px;
    border-radius: 10px;
    justify-content: space-between;
    width: 70%;
    margin: 60px 0px;
}
.more-about .home-about img{
   width: 350px;
   height: 150px;
   background-color: white;
   border-radius: 10px;
   margin: 10px 0px;
   cursor: pointer;
}
.more-about .home-about .about-d{
   display:flex ;
   flex-direction: column;
   padding: 0px 20px;
   text-align: left;
}
.more-about .home-about .about-d h1{
   font-size: 25px;
   color: lightskyblue;
}
.more-about .home-about .about-d p{
   font-size: 15px;
   margin:10px 0px ;
}
.more-about .home-about .about-d a{
   color: lightskyblue;
}
.more-about .home-about-1{
   display: flex;
   border: 2px solid lightskyblue;
   padding:  20px;
   border-radius: 10px;
   justify-content: space-between;
   width: 70%;
  margin: 60px 300px ;
  
}
.more-about .home-about-1 img{
   width: 200px;
   height: 150px;
   background-color: white;
   border-radius: 10px;
   margin: 10px 0px;
   cursor: pointer;
}
.more-about .home-about-1 .about-d{
   display:flex ;
   flex-direction: column;
   padding: 0px 20px;
   text-align: left;
}
.more-about .home-about-1 .about-d h1{
   font-size: 25px;
   color: lightskyblue;
}
.more-about .home-about-1 .about-d h3{
   font-size: 20px;
   margin:5px 0px ;
}
.more-about .home-about-1 .about-d p{
   font-size: 12px;
   margin:10px 0px ;
}
.more-about .home-about-1 .about-d a{
   color: lightskyblue;
}

.more-about .about-hoby{
   border: 2px solid lightskyblue;
   border-radius: 10px;
   padding: 10px;
   margin-top:100px ;
   margin-bottom: 60px;
}
.more-about .about-hoby h1{
   color: lightskyblue ;
   font-size: 35px;
   margin: 20px;
}

.more-about .about-hoby .hoby{
   display: flex;
   justify-content: space-evenly;
  margin-top: 60px ;
  margin-bottom: 40px;
}
.more-about .about-hoby .hoby .hoby-box{
   display: flex;
   border: 2px solid lightskyblue;
   border-radius: 10px;
   margin: 10px 20px;
}
.more-about .about-hoby .hoby .hoby-box img{
   width: 250px;
   height: 150px;
   margin: 20px;
   background-color: white;
   border-radius: 10px;
   cursor: pointer;
}
.more-about .about-hoby .hoby .hoby-box .h-box-a{
   display: flex;
   flex-direction: column;
   margin: 20px 0px;
}
.more-about .about-hoby .hoby .hoby-box .h-box-a h3{
   font-size: 30px;
   margin-bottom: 20px;
   color: lightskyblue;
}
.more-about .about-hoby .hoby .hoby-box .h-box-a p{
   font-size: 15px;
   margin: 5px;
}


.skills{
   display: flex;
   flex-direction: column;
   align-items: center;
   
   background-color: lightblue;
}

.skills .hading{
   margin-top: 50px;
   color: #0e1338;
   margin-bottom: 20px;
   font-family: 'Ubuntu', sans-serif;
   font-size: 30px;
   text-align: center;
}
.skills p{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
.container-skills{
   display: flex;
   padding: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
   justify-content: space-around;
}

.container-skills .block{
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: 20px 40px;
   padding: 10px;
   
}


.container-skills .block i{
   font-size: 50px;
   margin: 10px
}
.btn p{
   margin: 0px;
   padding: 4px;
   transition: all 3s ease-in;
   animation-name: range;
   animation-duration: 3s;
   animation-direction: alternate;
   animation-timing-function: 1;
 
}
@keyframes range {
   0%{
      width: 0%;
   }
   100%{
      width: 100%;
   }
}
.container-skills .block .btn {
   width: 350px;
   
   border: 2px solid black;
   border-radius: 10px;
 
  overflow: hidden;
   margin: 10px;
   cursor: pointer;
}

.container-skills .block .web-block , .lang-block{
   display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
 
}
.container-skills .block .lang-block .cpp{
   display: flex;
   align-items: center;
}
.container-skills .block .lang-block .cpp #plus i{
   font-size: 30px;
   margin: 2px;
}
 
.container-skills .block .btn .html{
   background-color: #0e1338;
   width: 70%;
}
.container-skills .block .btn .css{
   background-color: #0e1338;
   width: 60%;
}
.container-skills .block .btn .javascript{
   background-color: #0e1338;
   width: 50%;
}
.container-skills .block .btn .react{
   background-color: #0e1338;
   width: 60%;
}
.container-skills .block .btn .c{
   background-color: #0e1338;
   width: 40%;
}
.container-skills .block .btn .c-plus{
   background-color: #0e1338;
   width: 70%;
}
.container-skills .block .btn .java{
   background-color: #0e1338;
   width: 70%;
}
.tool{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   font-family: 'Ubuntu', sans-serif;
}
.tool h1{
   font-size: 50px;
}
.tool-box{
   display: flex;
  margin:50px 10px;
}
.tool-box h3{
   margin-left: 60px;
   margin-right: 60px;
   font-size: 30px;
}








.project{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #0e1338;
   padding: 40px;
   font-family: 'Ubuntu', sans-serif;
}
 
.project #h-box{
   display: none;
   font-family: 'Ubuntu', sans-serif;
}
.project h1{
   margin-top: 30px;
   margin-bottom: 20px;
   color: lightskyblue;
   font-size: 50px;
}
.project p{
   font-size: 18px;
   color: lightskyblue;
   padding: 5px 60px;
   font-family: 'Kanit', sans-serif;
}

.project .pro-box{

   display: flex;
   margin-top: 80px;
}

.project .pro-box .p-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height: 350px;
   border: 2px solid black;
   margin: 20px;
   cursor: pointer;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 2px 2px 10px black , -2px 2px 10px black;
   transition: all 0.4s ease-in-out;
}
.project .pro-box .p-box:hover{
   transform: scale(1.1);
}

.project .pro-box .p-box img{
   width: 100%;
   height: 200px;
   background-color: white;
   margin-bottom: 10px;
}

.project .pro-box .p-box h3{
   margin: 13px 0px;
   font-size: 20px;
   color: white;
}

.project .pro-box .p-box p{
    color: white;
   font-size: 12px;
   padding: 2px 10px;
}
.project .pro-box .p-box a{
   margin-top: 10px;
   width: 100%;
   text-align: center;
   background-color: lightskyblue;
   padding: 10px;
   color: #0e1338;
}

.project a{
   margin-top: 40px;
  
}
 
.project  .show-btn{
   padding: 10px 30px;
   cursor: pointer;
   border-radius: 15px;
   transition: all 0.3s ease-in-out;
   background-color:#0e1338;
   color: lightskyblue;
   border: 2px solid lightskyblue;
  
   margin: 20px;
}
.project #btn-1{
 
}
.project a .hide-btn{
 
   padding: 10px 50px;
   font-size: 20px;
   background-color: #0e1338;
   border: 2px solid lightskyblue;
   color: lightskyblue;
   border-radius: 20px;
   transition: all 0.4s ease-in-out;

}
.project a .hide-btn:hover{
  transform: scale(1.2);
  background-color: #0e1338;
  cursor: pointer;
}

.project  button:hover{
   
    transform: scale(1.1);
}


.client{
   padding: 50px;
   background-color: lightblue;
   font-family: 'Ubuntu', sans-serif;
}
.client .client-box{
   margin-top: 60px;
   margin-bottom: 60px;
   display: flex;
   justify-content: space-evenly;
   margin-left: 40px;
}
.client .client-box img{
   width: 450px;
   height: 300px;
   background-color: white;
   margin: 20px 40px;
   border-radius: 5px;
   box-shadow: 2px 2px 10px #0e1338, -2px -2px 10px #0e1338;
}
.client .client-box .c-box{
   display: flex;
   flex-direction: column;
   margin: 20px;
}
.client .client-box .c-box h1{
   font-size: 50px;
   margin: 10px;
}
.client .client-box .c-box p{
   font-size: 18px;
   margin: 10px;
}
.client .client-box .c-box a{
   font-size: 30px;
   margin: 20px;
   color: #0e1338;
   font-weight: bold;
   transition: all 0.4s ease-in;
}

.end-bar{
   background-color: #0e1338;
   padding: 50px;
  
}

.end-bar .end-box{
   display: flex;
   justify-content: center;
  
}
.end-bar .end-box a{
  padding: 3px;
}
.end-bar .end-box a i{
   font-size: 30px;
   margin: 20px;
   color: white;
   transition: all 0.4s ease-in-out;
}
.end-bar .end-box a i:hover{
  transform: scale(1.2);
  color: lightskyblue;
}
